


 h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 35px;
}


body {
    text-align: center;
    background-color: #E6E6E6;
}

.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: lightcyan;
    color: black;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

.grid {
    border: 5px solid bisque;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

.new-grid {
    text-align: center;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 35px solid black;
}

.bttn {
    background-color: black;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.bttn2 {
    background-color: black;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 50px;
    font-weight: bold;
}

.bttn:hover,
.bttn:active, .bttn2:hover, .button2:active {
    background-color: tan;
    color: black;
    border: 1px solid whitesmoke;
}

.current-player {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}

/* #game-over {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 5%;
    width: 10%;
    margin-top: 50px;
    position: absolute;
    left: 10;
    top: 200px;
}

h2 {
    color: black;
    font-size: 40px;
    margin-top: 0px;
} */
 